<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>hello from login html page </title>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/login.css" th:href="@{/css/login.css}"/>
</head>
<body>
<h2 th:text="${'thymeleaf says Register page'}">prototype hello from register html</h2>
<form id="registerForm" th:object="${userModelObject}" th:action="registerProcess" method="post">

    <ul th:if="${#fields.hasErrors('*')}" class="errorlist">
        <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
    </ul>

    <table align="center">
        <tr>
            <td><label for="userName" >Username: </label></td>
            <td><input type="text" th:field="*{username}" name="userName" id="userName"></td>
        </tr>
        <tr>
            <td><label for="password" >Password: </label></td>
            <td><input type="text" th:field="*{password}" name="password" id="password"></td>
        </tr>
        <tr>
            <td><label for="firstname" >first Name: </label></td>
            <td><input type="text" th:field="*{firstname}" name="firstname" id="firstname"></td>
        </tr>
        <tr>
            <td><label for="lastname" >Last Name: </label></td>
            <td><input type="text" th:field="*{lastname}" name="lastname" id="lastname"></td>
        </tr>
        <tr>
            <td><label for="email" >email: </label></td>
            <td><input type="text" th:field="*{email}" name="email" id="email"></td>
        </tr>
        <tr>
            <td><label for="address" >address: </label></td>
            <td><input type="text" th:field="*{address}" name="address" id="address"></td>
        </tr>
        <tr>
            <td><label for="phone" >phone: </label></td>
            <td><input type="text" th:field="*{phone}" name="phone" id="phone"></td>
        </tr>
        <tr>
            <td></td>
            <td align="left">
                <input type="submit" value="Register">
            </td>
        </tr>
        <tr></tr>
        <tr>
            <td></td>
            <td><a th:href="@{/}">Home</a></td>
        </tr>
    </table>
    <table align="center">
        <tr>
            <td style="font-style: italic; color: red;" th:text="${message}"> prototype message</td>
        </tr>
    </table>
</form>
</body>
</html>

