<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>hello from login html page </title>
</head>
<body>
<form id="loginForm" th:object="${loginModelObject}" th:action="loginProcess" method="post">
<!--    <table align="center">-->
<!--        <tr>-->
<!--            <td><label for="userName" >Username: </label></td>-->
<!--            <td><input type="text" th:field="*{userName}" name="userName" id="userName"></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td><label for="password" >Password: </label></td>-->
<!--            <td><input type="text" th:field="*{password}" name="password" id="password"></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td></td>-->
<!--            <td align="left">-->
<!--                <input type="submit" value="login">-->
<!--            </td>-->
<!--        </tr>-->
<!--        <tr></tr>-->
<!--        <tr>-->
<!--            <td></td>-->
<!--            <td><a href="/">Home</a></td>-->
<!--        </tr>-->
<!--    </table>-->
    <table align="center">
        <tr>
            <td style="font-style: italic; color: red;" th:text="${'welcome    ' + firstName}"> first name</td>
        </tr>
    </table>
</form>
</body>
</html>

